{% load static  %}
<!DOCTYPE html>
<html class="no-js"> <!--<![endif]-->
    <head>

        <!-- meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="CoddyLand – IT ma'lumot va maqolalar manzili. O'zbek tilidagi so'nggi yangiliklar, dasturlash, dizayn va boshqa IT sohalarida maqolalar. Muallif: Diyorbek Anorboyev.">
        <meta name="keywords" content="IT, dasturlash, veb dizayn, ma'lumotlar texnologiyalari, yangiliklar, CoddyLand, Diyorbek Anorboyev">
        <meta name="author" content="Diyorbek Anorboyev">
        <meta name="robots" content="index, follow">
        <meta name="googlebot" content="index, follow">
        <meta property="og:title" content="CoddyLand – IT Ma'lumot va Maqolalar">
        <meta property="og:description" content="O'zbek tilidagi so'nggi yangiliklar, dasturlash, dizayn va boshqa IT sohalarida maqolalar. Muallif: Diyorbek Anorboyev.">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://www.coddyland.uz/">
        <meta property="og:image" content="CoddyLand">
        <meta property="og:site_name" content="https://uzbekdevs.uz/media/users/diyorbek-anorboev_uzbekdevs.jpg">
        <title>Theme Blog - About Us</title>
        <link rel="shortcut icon" href="{% static 'assets/img/favicon.png' %}" type="image/x-icon">
        <!-- stylesheets -->
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">{% static '
        <link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    </head>

    <body id="aboutPage" class="no-select">

        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'index' %}">
                        <h1>CoddyLand</h1>
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'index' %}">Bosh sahifa</span></a></li>
                        <li><a href="{% url 'article' %}">Maqolalar</a></li>
                        <li><a href="{% url 'program' %}">Dasturlar</a></li>
                        <li   class="active"><a href="{% url 'about' %}">Biz haqimizda</a></li>
                    </ul>
                </div><!-- end of /.navbar-collapse -->
            </div><!-- end of /.container -->
        </nav>

        <main>
            <div class="container">
                <div class="row">

                    <!-- blog-contents -->
                    <section class="col-md-8">

                        <article>
                            <h1>Biz haqimizda</h1>

                        <p>CoddyLand-ga xush kelibsiz, IT va dasturlash bo'yicha eng yaxshi manzilingiz! Diyorbek Anorboyev tomonidan asos solingan ushbu raqamli voha sizga dasturchilar va texnologiya ishqibozlari uchun mo‘ljallangan ko‘plab bilim va resurslarni taqdim etishga bag‘ishlangan.
<br><br>
                            CoddyLand-da biz axborot texnologiyalarining doimiy rivojlanib borayotgan landshaftini va dasturchilarning turli ehtiyojlarini tushunamiz. Shuning uchun biz IT sohasidagi keng ko'lamli mavzularni qamrab oluvchi keng qamrovli maqolalar to'plamini tuzamiz. Siz asoslarni o‘zlashtirmoqchi bo‘lgan yangi boshlovchi bo‘lasizmi yoki ilg‘or tushunchalarni izlayotgan tajribali dasturchi bo‘lasizmi, bizning sinchkovlik bilan tayyorlangan maqolalarimiz barcha mahorat darajalariga mos keladigan tarzda yaratilgan.
                    <br><br>        
                            Ammo bu hammasi emas - CoddyLand dasturchilar uchun zarur bo'lgan muhim dasturlar va vositalarning keng qamrovli tanlovini taklif qilish orqali yuqorida va orqada boradi. Bizning vazifamiz sizga kodlash sayohatingizda ustunlik qilishingiz kerak bo'lgan vositalar bilan ta'minlashdir. IDE va ​​versiyalarni boshqarish tizimlaridan disk raskadrovka vositalari va ramkalargacha, biz sizni qamrab oldik.
                            <br><br>  
                            CoddyLand-ni ajratib turadigan narsa bizning sifat va aniqlikka sodiqligimizdir. Bizning mutaxassislar va ishqibozlarimiz jamoasi biz taqdim etayotgan ma'lumotlar va dasturlarning dolzarb va ishonchli bo'lishini ta'minlash uchun tinimsiz ishlaydi. Biz dasturchilar o'rganishi, hamkorlik qilishi va birgalikda rivojlanishi mumkin bo'lgan bilim almashish hamjamiyatini rivojlantirishga ishonamiz.
                            <br><br>  
                            Shunday qilib, siz bu yerda bilimingizni mazmunli maqolalar orqali kengaytirish yoki kodlash qobiliyatingizni muhim dasturlar yordamida oshirish uchun kelganmisiz, CoddyLand sizning asosiy platformangizdir. Ushbu qiziqarli sayohatda bizga qo'shiling va keling, IT va dasturlashning keng va maftunkor dunyosini birgalikda kashf qilaylik!</p>
                        </article> <!-- /.blog-item -->

                    </section>
                    <!-- end of blog-contents -->

                    <!-- sidebar -->
                    <aside class="col-md-4 col-sm-8 col-xs-8">
                        <div class="sidebar">
    
                            <!-- search option -->
                            <div class="search-widget">
                                <div class="input-group margin-bottom-sm">
                                    <input class="form-control" type="text" placeholder="Search here">
                                    <a href="#" class="input-group-addon">
                                        <i class="fa fa-search fa-fw"></i>
                                    </a>
                                </div>
                            </div>
    
                            <!-- subscribe form -->
                            <div class="subscribe-widget">
                                <h4 class="text-capitalize text-center">
                                    get recent update by email
                                </h4>
                                <div class="input-group margin-bottom-sm">
                                    <input class="form-control" type="text" placeholder="Your Email">
                                    <a href="#" class="input-group-addon">
                                        <i class="fa fa-paper-plane fa-fw"></i>
                                    </a>
                                </div>
                            </div>
    
                            <!-- sidebar share button -->
                            <div class="share-widget hidden-xs hidden-sm">
                                <ul class="social-share text-center">
                                    <li><a href="https://twitter.com/no_insoff"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="https://www.facebook.com/profile.php?id=100086462827350"><i
                                                class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://telegram.me/anorboyev_web"><i class="fa fa-plane"></i></a></li>
                                    <li><a href="https://instagram.com/diyorbek_anorboev"><i
                                                class="fa fa-instagram"></i></a></li>
                                </ul> <!-- /.sidebar-share-button -->
                            </div> <!-- /.share-widget -->
    
                        </div>
                    </aside>
                    <!-- end of sidebar -->

                </div>
            </div> <!-- end of /.container -->
        </main>


        <footer>
            <div class="container">
                <div class="row">
                    <!-- copyright -->
                    <div class="col-md-4 col-sm-4">
                        copyright &copy; 2023
                        <br>
                        Creaated by : Diyorbek Anorboev
                    </div>
    
                    <!-- footer share button -->
                    <div class="col-md-4 col-sm-4">
                        <ul class="social-share text-center">
                            <li><a href="https://twitter.com/no_insoff"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.facebook.com/profile.php?id=100086462827350"><i
                                        class="fa fa-facebook"></i></a></li>
                            <li><a href="https://telegram.me/anorboyev_web"><i class="fa fa-plane"></i></a></li>
                            <li><a href="https://instagram.com/diyorbek_anorboev"><i class="fa fa-instagram"></i></a></li>
                        </ul> <!-- /.social-share -->
                    </div>
    
                    <!-- footer-nav -->
                    <div class="col-md-4 col-sm-4">
                        <ul class="footer-nav">
                            <li><a href="{% url 'about' %}">About</a></li>
                            <li><a href="{% url 'contact' %}">Contact</a></li>
                        </ul> <!-- /.footer-nav -->
                    </div>
                </div>
            </div>
        </footer>

        <!--  Necessary scripts  -->

        <script type="text/javascript" src="{% static 'assets/js/jquery-2.1.3.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets/js/jQuery.scrollSpeed.js' %}"></script>

        <!-- smooth-scroll -->

        <script>
        $(function() {  
            jQuery.scrollSpeed(100, 1000);
        });
        </script>

    </body>
</html>